body{
    position: fixed;
}

#chromeConnect{
    position: absolute;
    top: 10px;
    right: 50px;
}

#buttons-1{
    margin-bottom: 20px;
    
}

#upBtn, #downBtn, #leftBtn, #rightBtn{
    font-size: 40px;
    border: 2px solid;
    padding: 20px;
    border-radius: 50px;
  
}
#leftBtn, #rightBtn{
    margin-right: 20px;
    
}

#upBtn, #downBtn{
    margin-right: 20px;

}

#connectbtn{
    padding: 10px;
    font-size: 20px;
    
}

.cast{
    border-radius: 70px;
    color: blue;
    background-color: transparent;
}

.text{
    font-size: 20px;
}


#quest-icon{
    position: absolute;
    top: 90px;
    right: 50px;
    font-size: 30px;
    border: 3px solid red;
    padding: 10px;
}

#msg-echec{
    text-align: center;
    color: red;
}

#msg-over{
    text-align: center;
    color: rgb(211, 14, 142);
}

